<!DOCTYPE html>
<html>
<head>
	<title>Equipo docente IN3501</title>
</head>
<body>
	<h1>Tecnologías de Información y Comunicaciones para la Gestión</h1>
	<h2>Equipo docente </h2>
	<div>
		<h3>Profesor de cátedra</h3>
		<h5>Víctor Hernández</h5>
	</div>
	<div>
		<h3>Profesores auxiliar</h3>
		<h5>Javiera Ovalle</h5>
		<h5>Jorge Pinto</h5>
		<h5>José Canto</h5>
		<h5>Macarena Osorio</h5>
	</div>
	<div>
		<h3>Ayudantes</h3>
		<h5>Carlos Vega</h5>
		<h5>Catalina Martin</h5>
		<h5>Eduardo Valerio</h5>
		<h5>Juan Gutiérrez</h5>
		<h5>Matías Rojas</h5>
		<h5>Nicolás Villa</h5>
		<h5>Sebastián Donoso</h5>
		<h5>Sofía Herrera</h5>
		<h5>Victoria Arce</h5>
	</div>

	<div>
		<h3>Enlaces</h3>
	<a href="{% url 'index' %}">Enlace a la pestaña index del proyecto</a>
	<br>
	<a href="{% url 'horario'%}">Enlace a la pestaña horario</a>
	</div>

</body>
</html>